.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff385c;
}

.auth-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 5px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.form input, .form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF385C;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: #e02d4f;
}

.text-center {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.text-center a {
    color: #FF385C;
    text-decoration: none;
    font-weight: bold;
}

.text-center a:hover {
    text-decoration: underline;
}

.btn-upload {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff385c;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 5px;
}

.avatar-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 50%;
}
